body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  margin: 40px 0;

  background-color: #e5e5e5;
  border: 0;
}

/* Container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Intro */

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("../images/intro.jpg") center no-repeat;
  background-size: cover;
}

.intro_inner {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  text-align: center;
}

.intro_title {
  color: white;
  font-size: 150px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}

.intro_title:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 0 auto;
  margin-top: 60px;

  background-color: #fff;
}

.intro_subtitle {
  margin-bottom: 20px;

  font-size: 60px;
  color: #fff;
  font-family: "Kaushan Script", cursive;
  text-align: center;
}

/* Header */

.header {
  width: 100%;
  padding-top: 30px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  color: #fff;
}

/* Navigation */

.nav {
  text-transform: uppercase;
  font-size: 15px;
}

.nav_link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  position: relative;

  color: #fff;
  text-decoration: none;

  transition: color 0.2s linear;
}

.nav_link:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  display: none;

  background-color: gold;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}

.nav_link:hover {
  color: gold;
}

.nav_link:hover:after,
.nav_link.active:after {
  display: block;
  opacity: 1;
}

.nav_link.active {
  color: gold;
}

/* Button */
.button {
  display: inline-block;
  vertical-align: top;
  padding: 10px 30px;
  margin-top: 60px;

  border: 3px solid #fff;

  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;

  transition: background 0.2s linear, color 0.1s;
}

.button:hover {
  color: black;
  background-color: #fff;
}

/* Slider */

.intro_slider {
  width: 100%;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.slider_inner {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.slider_item {
  width: 23%;
  padding: 20px 0;
  margin-top: 60px;
  position: relative;

  border-top: 3px solid #fff;
  opacity: 0.7;

  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}

.slider_item.active {
  opacity: 1;
}

.slider_item.active:before {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  top: -3px;
  left: 0;
  z-index: 0;

  position: absolute;
  background-color: #f38181;
}

.slider_number {
  font-size: 24px;
  font-weight: 700;
}

/* Section */

.section {
  padding: 80px;
}

.section--devices {
  padding-bottom: 0;
  margin-bottom: 100px;

  background: url(/assets/images/background_device_02.jpg) center no-repeat;
  background-size: cover;
}

.section--gray {
  background-color: #f8f8f8;
}

.section_header {
  width: 100%;
  max-width: 950px;
  margin: 0 auto 50px;

  text-align: center;
}

.section_subtitle {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  color: #333;
}

.section_title {
  font-size: 30px;
  font-weight: 700;
  color: #333;

  text-transform: uppercase;
}

.section_title:after {
  content: "";
  display: block;
  width: 100%;
  max-width: 60px;
  height: 3px;
  margin: 30px auto;

  background-color: #f38181;
}

.section_text {
  font-size: 15px;
  color: #999;
}

/* About */
.about {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.about_item {
  width: 380px;
  position: relative;
  background-color: #95e1d3;
}

.about_item:hover .about_image {
  transform: translate3d(-10px, -10px, 0);
}

.about_item:hover .about_image img {
  opacity: 0.1;
}

.about_item:hover .about_text {
  opacity: 1;
  transform: translate3d(-10px, -10px, 0);
}

.about_image {
  background: linear-gradient(to bottom, #f38181, #fce38a);

  transition: transform 0.1s linear;
}

.about_image img {
  display: block;
  transition: opacity 0.2s linear;
}

.about_text {
  width: 100%;

  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  opacity: 0;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translate3d(0, -50%, 0);

  transition: opacity 0.2s linear;
}

/* Statistics */

.statistics {
  background-color: #95e1d3;
}

.stat {
  display: flex;
}

.stat_item {
  flex: 1 1 0;
  padding: 70px 25px;

  border-left: 1px solid #b5eae0;

  text-align: center;
  color: #fff;
}

.stat_item:last-child {
  border-right: 1px solid #b5eae0;
}

.stat_count {
  margin-bottom: 10px;

  font-size: 72px;
  font-weight: 700;
  line-height: 1;
}

.stat_text {
  font-size: 14px;
  text-transform: uppercase;
}

/* Services */

.services {
  display: flex;
}

.services_item {
  flex: 1 1 0;
  padding-left: 85px;
  padding-right: 35px;
  position: relative;
}

.services_icon {
  position: absolute;
  top: 0;
  left: 25px;
  z-index: 1;
}

.services_title {
  margin-bottom: 10px;

  font-size: 14px;
  text-transform: uppercase;
  color: #333;
}

.services_text {
  font-size: 15px;
  color: #999;
}

.devices {
  width: 100%;
  max-width: 600px;
  position: relative;

  margin: 0 auto;
}

.devices_item {
  display: block;
}

.devices_item--iphone {
  position: absolute;
  right: 0;
  z-index: 1;
  bottom: -80px;
}

/* We do */

.wedo {
  display: flex;
}

.wedo_item {
  width: 50%;
}

/* Accordion */
.accordion_item {
  border: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

.accordion_item.active .accordion_content {
  display: block;
}

.accordion_item.active .accordion_header {
  border-bottom-color: #e5e5e5;
}

.accordion_item.active .accordion_header:after {
  transform: translateY(-50%) rotate(-45deg);
  margin-top: 5px;
}

.accordion_header {
  padding: 15px 20px 15px 65px;
  position: relative;
  border-bottom: 1px solid transparent;

  cursor: ;
}

.accordion_header:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;

  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;

  position: absolute;
  top: 50%;
  right: 20px;
  z-index: 1;

  transform: translateY(-50%) rotate(135deg);
}

.accordion_icon {
  position: absolute;
  top: 50%;
  left: 20px;
  z-index: 1;

  transform: translateY(-50%);
}

.accordion_content {
  padding: 15px 20px;

  color: #999;
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
}

.accordion_title {
  font-size: 14px;
  color: #333;
  text-transform: uppercase;
}

/* Reviews */

.reviews {
  padding: 0 110px;
  position: relative;
}

.reviews_item {
  padding: 0 22px 0 220px;
  position: relative;
}

.reviews_photo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  border: 2px solid #95e1d3;
}

.reviews_text {
  margin-bottom: 15px;
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  color: #999;
}

.reviews_author {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  color: #333;
}

.reviews_author:before {
  content: "";
  display: inline-block;
  margin-right: 10px;

  vertical-align: middle;
  width: 100%;
  max-width: 60px;
  height: 3px;
  background-color: #f38181;
}

.reviews_btn {
  font-size: 0;
  color: transparent;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.reviews_btn:after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;

  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
}

.reviews_btn--prev {
  left: 0;
  transform: rotate(-45deg);
}

.reviews_btn--next {
  right: 0;
  transform: rotate(135deg);
}
